# IDE ignore
.idea/
*.ipr
*.iml
*.iws
.vscode/

# temp ignore
*.log
*.cache
*.diff
*.exe
*.exe~
*.patch
*.tmp
*.swp

# system ignore
.DS_Store
Thumbs.db

# build
/cmd/comet/comet
/cmd/logic/logic
/cmd/job/job
/target
/configs
/dist
